.navbar {
  position: relative;
  box-sizing: border-box;
  max-width: 300px;
  height: 100vh;
  background: #000;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  transform-origin: left;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transform: translateX(-240px);
}

.navbarOpen {
  transform: translate(0);
}

.button {
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #999;
}

.openButton {
  top: 15px;
  right: 20px;
}

.langButton {
  bottom: 15px;
  right: 20px;
  left: 20px;
}

.list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #999;

  &:hover {
    color: #2B86C5;
  }

  & > p {
    margin: 0;
    padding: 0;
  }

  & > .icon {
    font-size: 30px;
  }
}